/* src/styles/ProductDetailPage.css */
.product-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.product-detail-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

.product-detail-container > .product-images,
.product-detail-container > .product-details-container {
  width: 100%;
}

.product-reviews {
  width: 100%;
  max-width: 1200px;
}

@media (min-width: 768px) {
  .product-detail-container {
    flex-direction: row;
  }

  .product-detail-container > .product-images,
  .product-detail-container > .product-details-container {
    width: 50%;
  }

  .product-images {
    padding-right: 20px;
  }

  .product-details-container {
    padding-left: 20px;
  }
}
